.navbar {
  background-color: #f5f5f5;
  padding: 10px;
  display: flex;
  justify-content: flex-end;
}

.username {
  color: #333;
}

.navbar ul {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.navbar li {
  margin: 0 10px;
}

.navbar li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  transition: color 200ms linear;
}

.navbar li a:hover {
  color: #8167a9;
}

.navbar .username {
  color: #333; /* Set the font color to match the rest of the navbar */
  font-weight: bold;
}
