/* Your OrderSummary.module.css */

.orderSummaryContainer {
  display: flex;
  flex-direction: column;
  background-color: #1f1d2b;
  color: #ffffff;
  padding: 20px;
  width: 300px; /* Adjust the width as needed */
  max-height: 70vh; /* Set a maximum height to fit within 90% of the viewport height */
  overflow-y: auto; /* Add scroll only if content exceeds the maximum height */
}

.orderSummaryContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align items to the left */
}

.selectedItems {
  margin-top: 20px;
  width: 100%; /* Make items take the full width */
}

.selectedItems p {
  font-weight: bold;
  width: 100%; /* Make the bold label take the full width */
}

.orderItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.itemName {
  flex: 2;
  word-wrap: break-word;
}

.itemDetails {
  display: flex;
  align-items: center;
}

.price {
  flex: 1;
  text-align: right;
}

.deleteIcon {
  color: #ffffff;
  cursor: pointer;
  margin-left: 10px;
  transition: color 0.3s ease; /* Add transition effect for color change */
}

.deleteIcon:hover {
  color: #ff4444; /* Change color to red on hover */
}

.subtotal {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 20px;
  font-weight: bold;
}

.subtotal span:first-child {
  margin-right: 10px;
}

.submitButton {
  margin-top: 20px;
  padding: 8px 16px;
  background-color: #ea7c69;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.submitButton:hover {
  background-color: #4bc970;
}

.submitButton:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.deleteIcon {
  color: #ffffff;
  cursor: pointer;
  margin-left: 10px;
  transition: color 0.3s ease; /* Add transition for color change */
}

.deleteIcon:hover {
  color: #f95c41; /* Change color on hover */
}
